VITE_FIREBASE_API_KEY="AIzaSyB0NZxJRtcydDiqBzCJOAX4p6ZmUYHwpx4"
VITE_FIREBASE_AUTH_DOMAIN="youngfinancewebapp.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="youngfinancewebapp"
VITE_FIREBASE_STORAGE_BUCKET="youngfinancewebapp.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="402205358513"
VITE_FIREBASE_APP_ID="1:402205358513:web:6940e27ce44e91f6af6590"

VITE_BRAPI_TOKEN=qMkfae9ir2N7tH2vwfNcRP

VITE_BACEN_SGS_BASE_URL=https://api.bcb.gov.br/dados/serie/bcdata.sgs